#same-day-delivery{
	width: 100%;
	height: 75px;
	background: url('../img/samedaydel.jpg') no-repeat center;
}

.sidebar-list {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: .25em 0 .25em 0;
	text-align: center;
	width: 100%;
}

	.sidebar-list a{
		text-decoration: none;
		color: black;
		width: 100%;
	}
	
li.sidebar-list-header {
	padding: .75em;
	background-color: #666;
	color: white;
}

li.sidebar-list {
	text-align: center;
	border-bottom: 1px #CCC solid;
	padding: 10px 0;
	font-size: 12px;
}